.item {
  color: var(--textColorDark);
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid var(--borderColor);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:last-of-type {
  margin-bottom: 0;
}

.item_Active {
  composes: item;
  position: relative;
}

.item_Active::before {
  content: "";
  display: block;
  width: 5px;
  height: 100%;
  background-color: var(--redColor);

  position: absolute;
  top: 0;
  left: -25px;
}

.commentsCount {
  margin-left: 10px;
  padding: 2px 7px;
  border-radius: 45%;
  background-color: var(--aquaColor);
  color: var(--textColorWhite);
}

.deleteBtn {
  height: 34px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid var(--redColor);
  color: var(--redColor);
  font-size: 1em;
  background-color: inherit;
  cursor: pointer;
}
