.container {
  padding: 30px 20px;
  width: 45%;
  min-height: 523px;
  position: relative;
  background-color: #fff;
}

.title {
  font-size: 2em;
  font-weight: lighter;
  margin-bottom: 25px;
}

.container::before {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  background-color: var(--colorGray);

  position: absolute;
  top: -5px;
  left: -5px;
}

.container::after {
  content: "";
  display: block;
  width: 5px;
  height: 80px;
  background-color: var(--colorGray);

  position: absolute;
  top: -5px;
  left: -5px;
}
