.form {
  height: 37px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.input {
  flex: 1 0 auto;
  height: 100%;
  padding-left: 10px;
  margin-right: 10px;
  color: var(--textColorGray);
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
}

.submitBtn {
  height: 100%;
  padding: 0 30px;
  border-radius: 5px;
  background-color: var(--aquaColor);
  color: var(--textColorWhite);
  font-size: 1em;
  cursor: pointer;
}
