.container {
  padding: 30px 20px;
  box-shadow: 0px 0px 5px 0px var(--mainColorDarkBlur);
  width: 45%;
  min-height: 621px;
  background-color: #fff;
}

.title {
  font-size: 2em;
  font-weight: lighter;
  margin-bottom: 25px;
}
